.post {
    width: 50vw;
    right: 24vw;
}

.emojionearea {
    width: 41vw;
}

.new>.container {
    top: 168px;
}

.new>.container>.box.update {
    width: 50vw;
    right: 14vw;
    max-width: 100vw;
}

.bubble {
    width: 50vw;
}

.emojionearea .emojionearea-picker.emojionearea-picker-position-top {
    top: 341px;
}