img {}

body {
    padding-top: 0;
    margin: 0;
    background-color: #f7f7f7;
}

a:hover {
    text-decoration: none;
}

a.active {
    background-color: steelblue;
}

#container {
    left: 0;
    width: 80%;
    height: 100%;
    position: relative;
    float: right;
    padding-right: 10vw;
}

#c3 {
    width: 100px;
    height: 100px;
    top: -100px;
    position: relative;
    float: right;
    padding-left: 85%;
    padding-right: 25px;
}

#c2 {
    height: 250px;
}

#c2 img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#c3 img {
    border-color: white;
    border: 2px solid #ffff;
    border-radius: 50%;
    width: 150;
    height: 150;
    float: right;
}

.list-group:not(.list-group-horizontal) {
    width: 30%;
    width: 30%;
    padding-top: 15px;
    margin-left: 1%;
}

#c4 h1 {
    position: relative;
    top: -150px;
    z-index: 25;
    float: right;
    margin-right: 20vw;
    font-family: Verdana;
}

.glow {
    cursor: pointer;
    font-size: 35px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ad2157, 0 0 40px #ad2157, 0 0 50px #343a40, 0 0 60px #343a40, 0 0 70px #343a40;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ad2157, 0 0 50px #ad2157, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 60;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-form {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 5% auto;
    /* 15% from the top and centered */
    padding: 10%;
    margin-top: 10%;
    border: 1px solid #888;
    width: 40%;
    background-size: cover;
    background-size: 100% 100%;
    height: 40%;
    border-radius: 5%;
    /* Could be more or less, depending on screen size */
}

.custom-file-label {
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    padding-left: 5%;
    width: 95%;
}

.custom-file-label::after {
    background-color: dodgerblue;
    color: aliceblue;
}

.modal-form h1 {
    position: relative;
    width: 200%;
    left: -50%;
    top: -50px;
    color: white;
    font-size: 200%;
    text-align: center;
}

.inputfile {
    padding-left: 5%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    top: -2vh;
    position: relative;
}

#changeInfo h3 {
    cursor: pointer;
    color: #f7f7f7;
}

#changeInfo h3:hover {
    color: cadetblue;
}

#changeInfo input {
    display: none;
}


/* Modal Content/Box */

.modal-content {
    background-color: transparent;
    margin: 5% auto;
    padding: 5%;
    border: 0px solid #888;
    width: 60%;
    background-size: cover;
    background-size: 100% 100%;
    height: 500;
    /* Could be more or less, depending on screen size */
}

.modal form {
    height: -webkit-fill-available;
}

.modal-form img {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    position: absolute;
    top: 25;
}

#showImg {
    background-color: rgba(0, 0, 0, 0.0);
    /* margin: 5% auto; */
    /* padding: 10%; */
    /* margin-top: 10%; */
    border: 0px solid #888;
    width: 60%;
    background-size: cover;
    background-size: 100% 100%;
    height: 50vw;
    width: 70vw;
    position: absolute;
    top: -100px;
    border-radius: 5%;
    margin-left: 18vw;
    padding: 0;
}


/* The Close Button */

.close {
    color: #fff;
    float: right;
    font-size: 274%;
    font-weight: bold;
    margin-top: -15%;
    margin-right: -11%;
}

#hiddenFile {
    visibility: hidden;
    display: none;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#imagePressed {
    position: relative;
    margin-top: -17%;
    margin-left: -10%;
    padding-left: 0;
    width: 120%;
    height: 50%;
    border-radius: 2%;
}

.element {
    position: absolute;
    top: 0;
    margin-left: 1%;
}


/*replace the content value with the
corresponding value from the list below*/

.element:before {
    content: "\f078";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    cursor: pointer;
    color: white;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
}

.list-group:not(.list-group-horizontal) {
    position: absolute;
    top: 20px;
    width: 25%;
    z-index: 2;
}

.list-group-item:not(.about):hover {
    background-color: #343a40;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.about:hover {
    background-color: #343a40;
    font-weight: bold;
    color: white;
}

.list-group-item:not(.about) {
    color: #343a40;
    font-weight: bold;
    background-color: white;
}

.Options {
    background-color: white;
    border-color: gray;
    border: 1px solid gray;
    border-radius: 5px;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 2vw;
    z-index: -1px;
    ;
}

.PageOptions {
    position: relative;
    background-color: transparent;
    border: 0;
    top: -5.5vw;
    border-radius: 5px;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 2vw;
    z-index: -1px;
    ;
}

.about {
    color: #343a40;
    font-weight: bold;
}

.list-inline-item {
    margin-right: 0rem;
    width: 7vw;
    padding-bottom: 0px;
    text-align: center;
}

.list-group-horizontal {
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    margin-bottom: 0;
    font-size: 1.5vw;
    background-color: white;
}

.col-xs-12 {
    padding-left: 0px;
    z-index: 0;
}

.aboutGroup {
    white-space: nowrap;
    margin-top: 25;
    position: absolute;
    background-color: white;
    /* padding-top: 5vh; */
    width: 40%;
    border-color: gray;
    border: 1px solid gray;
    border-radius: 5px;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 2vw;
    z-index: -1px;
}

.aboutGroup img {
    width: 2.5vw;
    height: 2.5vw;
    margin-left: 1vw;
    margin-top: 15;
}

.aboutGroup h1 {
    font-size: 1.5vw;
    display: block;
    float: right;
    margin-right: 23vw;
    margin-top: 15;
    font-weight: bolder;
    color: #343a40;
}

.aboutGroup p {
    font-size: 1.5vw;
    margin-left: 2vw;
}

i {
    margin-left: 1vw;
}

h5 {
    font-size: 1.4vw;
}


/* 
.aboutGroup p:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 1vw;
    right: 1vw;
    height: 0.5em;
    border-top: 1px solid gray;
} */

.post {
    float: right;
    position: absolute;
    width: 37vw;
    right: 10vw;
    margin-top: 25;
    background-color: white;
    border-color: gray;
    border: 1px solid gray;
    border-radius: 5px;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 2vw;
    z-index: -1px;
    height: 190;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.file-field input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    width: 103px;
    z-index: 9;
}

.box section .md-form,
.box section .file-field,
.file-path-wrapper {
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
    padding: 0px;
    border-radius: 3px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .0);
    z-index: 3;
    position: relative;
}

.file-field input.file-path {
    width: 300px;
    height: 36px;
    width: 350px;
    height: 30px;
    height: fit-content;
    position: absolute;
    top: 0;
    float: right;
    font-size: 1.5vw;
    width: 22vw;
}

.file-field .file-path-wrapper {
    padding-top: 20vh;
    overflow: hidden;
    padding-left: 10px;
    height: 2.5rem;
    width: 68%;
    margin: 0px auto;
    background-color: #fff;
    overflow: hidden;
    padding: 0px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .0);
    z-index: 3;
    position: absolute;
    top: 0;
    margin-top: 1.5vh;
}

.file-field span {
    cursor: pointer;
}

.postingimg {
    height: 4vh;
    width: 6vw;
    width: 6vw;
    height: 6vh;
    margin-top: 0;
    z-index: 5;
    float: left;
    position: relative;
    top: -18vh;
    /* right: 17vw; */
    left: 12vw;
}

.file-field .ptn {
    margin-bottom: 0;
    margin-top: 0;
    width: 100px;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0px;
    margin-top: 0;
    width: 100px;
    margin-top: 0px;
    background-color: #337ab7;
    padding-bottom: 5px;
    padding-top: 5px;
}

.file-path-wrapper {
    position: relative;
    top: 0;
    width: 350px;
    float: right;
    width: 350px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.box #text2 {
    font-size: 1.5vw;
    margin-left: 0.5vw;
    width: 80%px;
    border: none;
    padding: 5px 10px;
    font-family: arial;
    resize: none;
    outline: none;
    border-bottom: 2px solid #0077CC;
    transition: 0.5s;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-style: normal;
    font-weight: bold;
}

.box {
    POSITION: relative;
    TOP: -40;
}

.box textarea::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

.box textarea::-webkit-scrollbar-thumb {
    background-color: #CCC;
    border-radius: 2pxl;
}

.file-field h3 {
    position: absolute;
    float: left;
    top: 10;
    padding-left: 12vw;
    font-size: 2vw;
    color: gray;
}

.box section {
    width: 100%;
    margin-right: 150px;
    height: 20vh;
}

.box form {
    position: relative;
    top: -5vh;
    margin-left: 2vw;
}

.box section .text {
    width: 100%;
    margin: 50px auto;
    overflow: hidden;
    padding: 0.5vw;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .0);
    z-index: 3;
    position: relative;
}

.text {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .0);
}

.poster_image {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.btn {
    margin: 1vw;
}

section div button {
    float: right;
    margin: 15px 10px auto auto;
    border: none;
    background-color: #0077CC;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    font-size: 16px;
}

.post-content {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-style: normal;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 15px;
}

.icons {
    color: "gray";
}

.text3 {
    top: 0;
    border: none;
    font-family: arial;
    resize: none;
    outline: none;
    width: 75%;
    border: 2px solid rgba(201, 76, 76, 0.3);
    float: left;
    margin-bottom: 5px;
    position: relative;
    top: 0;
    transition: 0.2s;
}

.comment-form .btn {
    float: right;
    margin-top: 0;
    top: 0;
}

.btn,
section div button {
    padding: 0;
    padding-left: 1;
    padding-right: 1;
    font-size: 1.7vw;
    font-weight: normal;
}

.box #text1 {
    width: 400px;
    height: 50px;
    border: none;
    padding: 5px 10px;
    font-family: arial;
    resize: none;
    outline: none;
    border-bottom: 2px solid #0077CC;
    transition: 0.5s;
}

.box section .md-form {
    top: 5;
    left: 0;
    margin-left: 0;
    width: 80%;
}